.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 12px;
  color: #2e7d32;
}
.div {
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 40px;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: green;
}

.btn {
  width: 130px;
  margin: 0 auto;
  display: block;
  height: 40px;
  color: #2e7d32;
  border-radius: 5px;
  font-weight: 700;
  background-color: #bcdeb3;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #3d8732;
  color: #a8e69e;
}
